/* For information on how to create your own theme, please see:
http://ionicframework.com/docs/theming/ */
@layer theme, base, components, utilities;
@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/utilities.css" layer(utilities);


/*$light-blue: #b0d7d9ff;*/
/*$eerie-black: #1c2321ff;*/
/*$paynes-gray: #5e6572ff;*/
/*$sunglow: #ffc857ff;*/
/*$burnt-sienna: #e9724cff;*/

:root {
    /* Set the background of the entire app */
    --ion-background-color: #E5F1FF;
    --ion-text-color: #6C6C6C;

    --ion-color-primary: #93C5FD;
    --ion-color-primary-rgb: 147,197,253;
    --ion-color-primary-contrast: #000000;
    --ion-color-primary-contrast-rgb: 0,0,0;
    --ion-color-primary-shade: #81addf;
    --ion-color-primary-tint: #9ecbfd;

    --ion-color-secondary: #ACFCD9;
    --ion-color-secondary-rgb: 172,252,217;
    --ion-color-secondary-contrast: #000000;
    --ion-color-secondary-contrast-rgb: 0,0,0;
    --ion-color-secondary-shade: #97debf;
    --ion-color-secondary-tint: #b4fcdd;
}

.ion-color-primary {
    --ion-color-base: var(--ion-color-primary);
    --ion-color-base-rgb: var(--ion-color-primary-rgb);
    --ion-color-contrast: var(--ion-color-primary-contrast);
    --ion-color-contrast-rgb: var(--ion-color-primary-contrast-rgb);
    --ion-color-shade: var(--ion-color-primary-shade);
    --ion-color-tint: var(--ion-color-primary-tint);
}

.ion-color-secondary {
    --ion-color-base: var(--ion-color-secondary);
    --ion-color-base-rgb: var(--ion-color-secondary-rgb);
    --ion-color-contrast: var(--ion-color-secondary-contrast);
    --ion-color-contrast-rgb: var(--ion-color-secondary-contrast-rgb);
    --ion-color-shade: var(--ion-color-secondary-shade);
    --ion-color-tint: var(--ion-color-secondary-tint);
}